/* === TOKENS === */
@import "../styles/tokens/color.css";
@import "../styles/tokens/markup.css";
@import "../styles/tokens/text-style.css";

/* === COMPONENTS === */
@import "../styles/components/buttons/button.css";
@import "../styles/components/buttons/chapter.css";
@import "../styles/components/buttons/tab.css";
@import "../styles/components/inputs/input.css";
@import "../styles/components/buttons/dropdown.css";

@import "../styles/components/icons/icon.css";
* {
  margin: 0px;
  padding: 0px;
}
